<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Auth.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <script src="Auth.js" defer></script>

    <title>Screen_Auth</title>
</head>

<body>
    <div class="circle">
        <div class="card">
            <h2>Login</h2>
         <form class="form_login">
            <input type="email" id="email" placeholder="Digite seu email" required>
            <input type="password" id="password" placeholder="Digite sua senha" required>
            <button type="submit">Entrar</button>
            <label class="label_cadastro">Não tem uma conta? <a href="/E-commerce WEB API - Teste técnico Rota/Views/Register/register.html">Cadastre-se</a></label>
         </form>
        </div>
    </div>

</body>

</html>

  <!--<form>
            <div class="input-group">
                <label  for="email">Email:</label>
                <input type="email" placeholder="Digite seu email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" placeholder="Digite sua senha" name="password" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>-->