@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 32px;
    background-image: url(./Images/blurry-gradient-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Ubuntu";
    animation: rotate 6s infinite alternate linear;
} 

